@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  height: 75px;
}
.user-log {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.nav-bar h1,
.foot-section h2 {
  font-family: "Luckiest Guy", cursive;
}
.nav-bar button {
  font-family: "Special Elite", cursive;
  box-shadow: 1px 5px 5px black;
}
.foot-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  margin-top: 75px;
}
.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Times New Roman", Times, serif;
}
.welcome-log {
  grid-column: 3/4;
}
.home h1 {
  font-family: "Shizuru", cursive;
}
.cars {
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.description {
  font-family: "Tangerine", cursive;
  width: 50%;
}
body img {
  width: 100px;
}
body a {
  text-decoration: none;
}
.showBackEditDelete {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.showBackEditDelete button {
  background-color: chocolate;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
.car {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 250px;
  background-color: bisque;
  box-shadow: 5px 5px 5px black;
}
.form-add-edit {
  width: 25%;
  margin: 50px auto;
}
.form-add-edit input[type="text"],
textarea {
  min-width: 350px;
}
.option-buttons button {
  min-width: 170px;
}
.removed-cars button {
  background-color: red;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}
.car-details button {
  background-color: gray;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
}
.review-delete button {
  background-color: rgb(255, 0, 0, 0.75);
  border-radius: 5px;
}
.reviews {
  width: 50%;
  margin: 50px auto;
}
.reviews button {
  padding: 0;
  max-height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 3px 1px black;
}

.reviews-div h3 {
  margin: 0;
}
input[type="submit"] {
  background-color: gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}
.review-form {
  margin-bottom: 50px;
}
.register button,
.login button {
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
}
.error {
  color: red;
}
.login,
.register {
  width: 50%;
  margin: 50px auto;
}
.success-message {
  color: green;
}
